/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==================================
  Typography
  ==================================
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a, 
li {
  text-decoration: none;
  line-height: 1.6em;
  color: #5c5c5c;
  font-weight: 300;
}
h2, 
h3, 
h4, 
h5,
h6, 
p, 
li {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200px;
}
h1 {
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
} 
p {
  font-size: 15px;
  line-height: 22px;
}
strong {
  font-weight: 400;
}
cite, 
em {
  font-style: italic;
}

/*
  ==================================
  Grid
  ==================================
*/

*,
*:before;
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 1120px;
}
.row {
  max-width: 100%;
  margin: auto;
  padding: 0 50px;

}
.container {
  padding-top: 50px;
  padding-left: 30px;
  /*padding-right: 30px;*/
}
.grid,
.col-sm-8,
.col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-8,
.col-sm-4 {
  display: inline-block;
  vertical-align: top;
}
.col-sm-8 {
  width: 60%;
  padding-left: 35px;
}
.col-sm-8 ul {
  padding-bottom: 15px;
}
.col-sm-4 {
  width: 30%;
}
.col-sm-4 h6 {
   padding-top: 10px;
}
.content {
  padding-bottom: 10px;
}

/*
=============================================
Landing
=============================================
*/
.logo {
  font-size: 34px;
  font-family:'Poiret One', cursive;
  letter-spacing: .25em;
}
#primary {
  max-width: 100%;
  margin: 0 auto;
  padding: 150px 100px 0; 
  text-align: center;
}
#quote {
  padding: 40px 20px 10px;
}

/*
=============================================
Header
=============================================
*/
.header {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 100px 0; 
  text-align: center;
}
/*
  ========================================
  Nav
  ========================================
*/
.nav {
   border-bottom: 1px solid #fff;
}
.nav li {
  display: inline-block;
  padding: 20px 20px 40px;
  text-transform: uppercase;
  font-size: 14px;
}
/*=============================================
      Links
  =============================================*/
.nav a {
  color: #5c5c5c;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.nav a:hover {
  text-decoration: underline;
  color: #222;
}

/*
  ========================================
  main
  ========================================
*/
.main {
  padding: 0 100px;
  margin: auto;
  max-width: 60%;
  width: 600px;
  text-align: center;
}

/*
  ========================================
  Resume
  ========================================
*/
#download {
  font-size: 14px;
  text-align: center;
}
