/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 100px;
  text-align: center;
  /*background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*================TYPOGRAPHY===========*/
strong {
  font-weight: 400;
}
cite, 
em {
  font-style: italic;
}

.container {
  width: 80%;
  padding: 30px 15px 20px;
  margin: auto;
  text-decoration: none;
  line-height: 1.6em;
  color: #5c5c5c;
}
.container .text-muted {
  margin: 20px 0;
}

/*==========HEADER======*/
.page-header {
  font-family:'Poiret One', cursive;
  letter-spacing: .25em;
  text-transform: uppercase;
  color: #5c5c5c;
  text-align: center;
}

.page-header a:hover{
  text-decoration: none;
  color: #000;
}

.page-header .logo {
  margin: 0 auto;
  width: 25%;
}

.quote h4 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100px;
  padding-top: 30px;
}

/*===========NAV=============*/
.nav li {
  display: inline-block;
  padding: 20px 20px 40px;
  text-transform: uppercase;
}

.section-link a {
  text-decoration: none;
  color: #5c5c5c;
}
.section-link.active a {
  border-bottom: 1px solid #82858a;
}
.section-link a:hover {
  border-bottom: 1px solid #82858a;
}

.navbar {
  text-align: center;
  font-size: 12px;
}
.navbar a:hover {
  text-decoration: none;
  color: #000;
}

/*============RESUME===========*/
.download {
  text-align: center;
  padding-bottom: 50px;
}
.resume .col-md-4 {
  padding-top: 8px;
}
.resume li {
  list-style-type: none;
}
/*==========CONNECT================*/
.content {
  text-align: center;
  text-decoration: none;
}
.content a:hover {
  text-decoration: none;
}
#keeley{
  width:90%;
  max-width: 275px;
  border-radius: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}